---
layout: home
title: Cédric Van Huffelen
---

<!-- Page Content -->
<div class="container">

  <!-- tutorials Section -->
  <h1>Tutorials</h1>

  <div class="row">
    {% assign tutorials = site.tutorials | sort: 'weight' | reverse %}
    {% for tutorial in tutorials %}
    {% if tutorial.showInFrontPage == true %}
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <a class="card-link" href="{{ tutorial.url }}">
      <div class="project-card card h-100">
        <div >
          <img class="card-img-top previewImage" src="{{ tutorial.image}} " alt=""/>
        </div>
        <div class="card-body">
          <h4 class="card-title">
            {{ tutorial.title }}
          </h4>
          <p class="card-text">{{ tutorial.pageintro }}</p>
        </div>
      </div>
    </a>
    </div>
    {% endif %}
    {% endfor %}
  </div>

  <!-- Portfolio Section -->
  <h1>Portfolio</h1>

  <div class="row">
    {% assign portfolio_items = site.portfolio | sort: 'weight' | reverse %}
    {% for item in portfolio_items %}
    {% if item.showInFrontPage == true %}
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <a class="card-link" href="{{ item.url }}">
      <div class="project-card card h-100">
        <div >
          <img class="card-img-top previewImage" src="{{ item.image}} " alt=""/>
        </div>
        <div class="card-body">
          <h4 class="card-title">
            {{ item.title }}
          </h4>
          <p class="card-text">{{ item.pageintro }}</p>
        </div>
      </div>
    </a>
    </div>
    {% endif %}
    {% endfor %}
  </div>

  <!-- professional Work -->
  <h1>Professional Work</h1>

  <div class="row">
    {% assign work_items = site.professionalWork | sort: 'weight' | reverse %}
    {% for work in work_items %} {% if work.showInFrontPage == true %}
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <a class="card-link" href="{{ work.url }}">
      <div class="project-card card h-100">
        <div >
          <img class="card-img-top previewImage" src="{{ work.image}} " alt=""/>
        </div>
        <div class="card-body">
          <h4 class="card-title">{{ work.title }}</h4>
          <p class="card-text">{{ work.pageintro }}</p>
        </div>
      </div>
    </a>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  <!-- /.row -->

  <!-- Features Section -->
</div>
