<!-- Footer -->
<footer class="bg-light page-footer font-small pt-4">
  <!-- Footer Elements -->
  <div class="footer-links">
    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item ">
        <a href="https://github.com/{{site.github}}" target="_blank">
          <img src="/assets/icons/iconmonstr-github-1.svg" alt="" width="32" height="32" />
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://twitter.com/{{site.twitter.username}}" target="_blank">
          <img src="/assets/icons/iconmonstr-twitter-1.svg" alt="" width="32" height="32" />
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://www.linkedin.com/in/{{site.linkedIn}}" target="_blank">
          <img src="/assets/icons/iconmonstr-linkedin-3.svg" alt="" width="32" height="32" />
        </a>
      </li>
    </ul>
    <!-- Social buttons -->
  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    Copyright &copy; Cédric Van Huffelen {{ site.time | date: '%Y' }}
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

<script
  src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
  integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
  crossorigin="anonymous"
></script>
