.project-card {
  box-shadow: 0 5px 30px -10px rgba(0, 0, 0, 0.25);
  border: 0px !important;
  transition: all 0.3s ease;
  background-color: #f1f5f9;
}

.project-card:hover {
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.45);
}

.project-card > div {
  overflow: hidden;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.card-title {
  padding-bottom: 1rem;
}

.project-card > div > img {
  transition: all 0.3s ease;
}

.project-card:hover > div > img {
  transform: scale(1.05);
}

.card-link {
  text-decoration: none !important;
  color: inherit;
  font-weight: inherit;
}

.card-link:hover {
  color: inherit;
}

.card-text {
  color: #666c71;
}
