---
layout: default
---

<div class="row">
  {% assign work_items = site.professionalWork | sort: 'weight' | reverse %} {%
  for work in work_items %}
  <div class="col-lg-4 col-sm-6 portfolio-item">
    <a class="card-link" href="{{ work.url }}">
      <div class="project-card card h-100">
        <div>
          <img
            class="card-img-top previewImage"
            src="{{ work.displayImage}} "
            alt=""
          />
        </div>
        <div class="card-body">
          <h4 class="card-title">{{ work.title }}</h4>
          <p class="card-text">{{ work.pageintro }}</p>
        </div>
      </div>
    </a>
  </div>
  {% endfor %}
</div>
