<!DOCTYPE html>
<html lang="en">
  {% seo %}
  {% include head.html %}

  <body>
    {% include navbar.html %}

    <!-- Page Content -->
    <div class="container">
      <h1 class="my-4"></h1>

      <!-- Page Heading/Breadcrumbs -->
      <h1>
        {{page.title}}
        <small class="blockquote text-center">{{page.description}}</small>
      </h1>

      {{content}}

      <p>
        Get the source files for this tutorial on
        <a href="https://github.com/{{ page.github }}" target="_blank"
          >Github</a
        >
      </p>
    </div>
    <!-- /.container -->

    {% include footer.html %}
  </body>
</html>
